h1 {
    color: rgba(255, 0, 0, 0.5)
}

h2 {
    color: rgb(255, 165, 0, 0.9);
}

h3 {
    color: rgb(255, 255, 0, 0.8);
}

h4 {
    color: rgb(0, 255, 0, 1.0);
}

h5 {
    color: rgb(0, 0, 255, 0.5);
}

h6 {
    color: rgb(75, 0, 130, 0.3);
}

p {
    color: #03fb96;
}